#container{font-family:arial; width:500px; margin-left:auto; 
  margin-right:auto; text-align:center;}
.card{height:120px; width:80px; float:left; border: 2px solid black; 
  border-radius:5px; margin-left:10px; margin-right:10px; margin-bottom:15px;
  box-sizing:border-box; padding-top:30px; font-size:25px;}
.card:hover{background-color:black; color:white; cursor:pointer;}
.red{color:red;}
.red:hover{background-color:red;}
.ten{padding-left:2px;}
.discard, .discard:hover{background-color:blue; color:blue;}
#menu-bar{width:500px;}
#coins,#results,#btn-container{width:33%; min-width:33%; float:left;}
#coins{font-size:25px; font-weight:bold; color:green;}
#btn{font-size: 25px; cursor:pointer;}
