#container{font-family:arial; margin-top:7%; text-align:center;}
#hand:{max-width:600px;}
@media (max-width:700px) {#hand{height:100px;}}
@media (min-width:700px) {#hand{height:150px;}}
@media (min-width:900px) {#hand{height:200px;}}
.card{height:100%; width:16%; float:left; border: 2px solid black; 
  box-sizing:border-box; border-radius:5%; margin-left:2%; margin-right:2%; 
  margin-bottom:4%; padding-top:5%; font-size:25px;}
.card:hover{background-color:black; color:white; cursor:pointer;}
.red{color:red;}
.red:hover{background-color:red;}
.discard, .discard:hover{background-color:blue; color:blue;}
#coins,#results,#btn-container{width:33%; min-width:33%; float:left;}
#coins{font-size:25px; font-weight:bold; color:green;}
#btn{font-size: 25px; cursor:pointer;}
